.movie-container{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-top: 2em;
    width: 100%;
    height: 600px;
    text-align: center;
    color: #606365;
}

.movie-image{
    width: 500px;
    height: 500px;
}

.movie-container h1{
    color: #021130;
}

@media  (max-width:767px) {
    .movie-image{
        width:400px;
        height: 400px
    }
}
