.app{
  margin: 2em;
  text-align: center;
}


.header-container{
  display: flex;
  justify-content: space-between;
  background-color: #739dd2;
  padding: 2em;
  border-radius: 6px;
}

.content-container{
  align-items: center;
}


@media  (max-width:767px) {
  .header-container{
 flex-direction: column;
  }
}

