.logo-header{
    color: #01012e;
    font-size: 28px;
    font-weight: 500;
}

.languages-list{
   padding: 10px;
   margin-left: 0.5em;
   background-color: #01012e;
   color: white;
   border: none;
   border-radius: 12px;
   outline: none;
   font-weight: 500;
   font-size: 17px;
}

